<div class="-contact">
    <div class="-title">{{conTitle}}</div>
    <div class="-content">
        <div>
            <div class="-contact-des1">
                <span *ngFor="let desList1 of conDesList1">{{desList1}}</span>
            </div>
            <div class="-contact-des2">
                <p *ngFor="let desList2 of conDesList2">{{desList2}}</p>
            </div>
            <div class="-contact-type">
                <a class="-item" *ngFor="let typeList of conTypeList" [href]="typeList.url">
                    <img alt="" [src]="typeList.icon">
                </a>
            </div>
        </div>
    </div>
</div>