<div class="experience">
    <div class="title">{{expTitle}}</div>
    <div class="content">
        <div class="banner">
            <div class="experien-cecontent" *ngFor="let expList of expList">
                <div class="left">
                    <img class="img" [src]="expList.imgUrl" />
                </div>
                <div class="right">
                    <h4>{{expList.title}}</h4>
                    <p class="time">{{expList.time}}</p>
                    <p class="post">
                        <{{expList.post}}>
                    </p>
                    <p class="tech">"{{expList.tech}}"</p>
                    <ul class="list">
                        <li class="item" *ngFor="let content of expList.contentList">{{content}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shout-cut">
            <ul class="cut-list">
                <li class="item"></li>
                <li class="item"></li>
            </ul>
        </div>
        <div class="exp-des">{{expDes}}</div>
    </div>
</div>