<div>
    <div class="header">
        <div class="header-head">
            <div class="header-c">
                <div class="logo">
                    <a class="logo-c" href="https://github.com/finally1818" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="header-nav-dot">
            <ul>
                <li class="item" *ngFor="let nav of navList; let i = index" [class.cur-index]="i === navShow || i === inNavIndex || i === outNavIndex">
                    <a class="dot" (mouseover)="mouseoverNavShow(i)" (mouseout)="mouseoutNavHid()" (click)="isIndex(i)" >
                        <img alt="" [src]="nav.svg">
                    </a>
                    <span class="dot-title">{{nav.nav}}</span>
                </li>
            </ul>
        </div>
    </div>
    <dog-main class="dock-fill" [inNavIndex]="inNavIndex" (outNavIndex)="outNavIndex($event)"></dog-main>
    <footer class="footer">{{footer}}</footer>
</div>