<div>
    <dog-header page-index="zr.pageIndex"></dog-header>
    <dog-default class="page-section"></dog-default>
    <dog-experience class="page-section"></dog-experience>

    <!--<resume-main page-index="zr.pageIndex">

        <resume-experience class="page-section"></resume-experience>

        <resume-info class="page-section"></resume-info>
        
        <resume-skill class="page-section"></resume-skill>

        <resume-experience class="page-section"></resume-experience>

        <resume-works class="page-section"></resume-works>
        
        <resume-contact class="page-section"></resume-contact>

    </resume-main>

    <resume-footer ng-if="zr.pageIndex==5"></resume-footer>-->
</div>