<div class="-info">
    <div class="-title">{{infoTitle}}</div>
    <div class="-content">
        <div>
            <ul class="-info-list">
                <li class="-info-item" *ngFor="let infoList of infoList">
                    <div class="-cont">
                        <div class="-img">
                            <img alt="" [src]="infoList.icon">
                        </div>
                        <div class="-intro">
                            <span>{{infoList.key}}</span> /
                            <span>{{infoList.value}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="-info-des">
            <p *ngFor="let desList of infoDesList">{{desList}}</p>
        </div>
    </div>
</div>