<div class="-skill">
    <div class="content">
        <div class="-title">{{skillTitle}}</div>
        <div class="-content">
            <div class="-contain" ng-class="{'-contain-en':$ctrl.isEng}">
                <div class="-skill-circle">
                    <ul class="-outCircle">
                        <li class="-out" *ngFor="let outCricleList of skillOutCircleList">{{outCricleList.name}}</li>
                    </ul>
                    <ul class="-innerCircle">
                        <li class="-inner" *ngFor="let innerCircleList of skillInnerCircleList">{{innerCircleList.name}}</li>
                    </ul>
                </div>
                <div class="-des" ng-class="{'-des-en':$ctrl.isEng}">
                    <p *ngFor="let desList of skillDesList" ng-bind="item">{{desList}}</p>
                </div>
            </div>
        </div>
    </div>
</div>