<div class="skill">
    <div class="title">{{skillTitle}}</div>
    <div class="content">
        <div class="contain">
            <div class="skill-circle">
                <ul class="outCircle">
                    <li class="out" *ngFor="let outCricleList of skillOutCircleList" [style.background-color]="outCricleList.color">{{outCricleList.name}}</li>
                </ul>
                <ul class="innerCircle">
                    <li class="inner" *ngFor="let innerCircleList of skillInnerCircleList" [style.background-color]="innerCircleList.color">{{innerCircleList.name}}</li>
                </ul>
            </div>
            <div class="des">
                <p *ngFor="let desList of skillDesList">{{desList}}</p>
            </div>
        </div>
    </div>
</div>