<div class="dock-fill" (mousewheel)="mouseWheel($event)">
     <dog-default class="page-section" [class.cur-page]="inNavIndex == 0" [class.prev-page]="inNavIndex == 1"></dog-default>
     <dog-info class="page-section" [class.cur-page]="inNavIndex == 1" [class.prev-page]="inNavIndex == 2" [class.next-page]="inNavIndex == 0" ></dog-info>
     <dog-skill class="page-section" [class.cur-page]="inNavIndex == 2" [class.prev-page]="inNavIndex == 3" [class.next-page]="inNavIndex == 1"></dog-skill>
     <dog-experience class="page-section" [class.cur-page]="inNavIndex == 3" [class.prev-page]="inNavIndex == 4" [class.next-page]="inNavIndex == 2"></dog-experience>
     <dog-works class="page-section" [class.cur-page]="inNavIndex == 4" [class.prev-page]="inNavIndex == 5" [class.next-page]="inNavIndex == 3"></dog-works>
     <dog-contact class="page-section" [class.cur-page]="inNavIndex == 5" [class.next-page]="inNavIndex == 4"></dog-contact>
</div>