<div (mousewheel)="mouseWheel($event)">
     <dog-default class="page-section" [class.cur-page]="inNavIndex == 0"></dog-default>
     <dog-info class="page-section" [class.cur-page]="inNavIndex == 1"></dog-info>
     <dog-skill class="page-section" [class.cur-page]="inNavIndex == 2"></dog-skill>
     <dog-experience class="page-section" [class.cur-page]="inNavIndex == 3"></dog-experience>
     <dog-works class="page-section" [class.cur-page]="inNavIndex == 4"></dog-works>
     <dog-contact class="page-section" [class.cur-page]="inNavIndex == 5"></dog-contact>
</div>