<div class="work">
    <div class="title">{{worksTitle}}</div>
    <div class="content">
        <!--<ul class="work-list">
            <li class="workitem" *ngFor="let worksList of worksList">
                <a class="work-title" [href]="worksList.url" target="_blank">{{worksList.title}}</a>
                <p class="work-des">{{worksList.des}}</p>
            </li>
        </ul>-->
        <div class="wrap-box">
            <div class="box-content">
                <div class="l-front"><img src="./app/img/css01.png" alt="1"></div>
                <div class="l-left"><img src="./app/img/css02.png" alt="1"></div>
                <div class="l-back"><img src="./app/img/css03.png" alt="1"></div>
                <div class="l-right"><img src="./app/img/css04.png" alt="1"></div>
                <div class="m-front"><img src="./app/img/css05.png" alt="1"></div>
                <div class="m-left"><img src="./app/img/css06.png" alt="1"></div>
                <div class="m-back"><img src="./app/img/css07.png" alt="1"></div>
                <div class="m-right"><img src="./app/img/css08.png" alt="1"></div>
                <div class="s-front"><img src="./app/img/css09.png" alt="1"></div>
                <div class="s-left"><img src="./app/img/css10.png" alt="1"></div>
                <div class="s-back"><img src="./app/img/css11.png" alt="1"></div>
                <div class="s-right"><img src="./app/img/css12.png" alt="1"></div>
            </div>
        </div>
        <div class="work-more">
            <a href="https://github.com/finally1818/learngit" target="_blank">{{worksViewMore}}</a>
        </div>
    </div>
</div>