body {
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	background: rgb(210, 210, 210) url("../app/img/bg.png");
}

ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: #000;
    text-decoration: none;
}
    a:hover{
        color: #000;
    }
    a:link{
        color: #000;
    }

/*.-default, .-info, .-skill, .experience, .work, .-contact{
    height: 100%;
}*/
/*.content{
	position: absolute;
	top: 250px;
	left: 0;
	right: 0;
	bottom: 0;
}
.title{
	position: absolute;
	top: 150px;
	left: 20%;
	right: 20%;
	text-align: center;
	font-size: 24px;
	color: #FFF;
}*/

/*@media screen and (max-width: 1366px){
	.title{
		top: 70px;
	}
}

@media screen and (max-width: 600px){
	.title{
		display: none;
	}
}*/
/*八卦loading*/
.loading-gossip {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -9rem;
	margin-left: -9rem;
	display: flex;
	align-items: center;
	width: 18rem;
	height: 18rem;
	border-radius: 50%;
	background: linear-gradient(black 50%, white 0);
	animation: loading-gossip 2s linear infinite;
	vertical-align: middle;
}

.loading-gossip:before, .loading-gossip:after {
	flex: 1;
	height: 3rem;
	border-radius: 50%;
	background: black;
	content: '';
	border: solid 3rem white;
	transform-origin: 0 50%;
	transform: scale(.5);
	animation: before 1s ease-in-out infinite alternate;
}

.loading-gossip:after {
	background: white;
	border-color: black;
	transform-origin: 100% 50%;
	animation-delay: -1s;
	-webkit-animation-delay: -1s
}

@keyframes loading-gossip { 
	to { transform: rotate(1turn) } 
}
@keyframes before { 
	to { transform: scale(1.5) } 
} 